<%- include("./partials/header.ejs") %>
<title>Shopping List</title>
<%- include("./partials/navbar.ejs") %>
<!-------------------------------------------------- ENTER CONTENT HERE -------------------------------------------------->
<section class="list-page-cont">
    <div class="overlay"></div>
    <section class="container pantry-menu-cont page p-0 overflow-auto">
        <%- include('./partials/flash') %>
        <% for (cat of shoppingCategories) { %>
            <section class="<%= cat.toLowerCase() %>-section list-category">
                <div class="row category-row">
                    <div class="col-sm-4 d-flex justify-content-begin align-items-center p-0">
                        <form action="/shopping-list/<%=cat%>" method="post" class="validated-form form-container" novalidate>
                            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
                            <input type="text" name="name" placeholder="Add Item" class="search-category" required>
                            <input type="submit" value="" id="new-item-pantry-btn" class="btn btn-light add-button add-pantry-button d-flex justify-content-center align-items-center p-0">
                        </form>           
                    </div>
                    <div class="col-sm-4 category-col d-flex justify-content-center align-items-center p-0"><%= cat in twoWordCats ? twoWordCats[cat] : cat %><img src="https://res.cloudinary.com/meal-creator/image/upload/v1662276054/icons/<%=cat.toLowerCase()%>.png" class="category-icon"></div>
                </div>

            <% for (let item of items) { %>
                <% if (item.category === cat) { %>
                <div class="row list-item-bar m-0" title="<%=cat.toLowerCase()%>-section pantry-category">
                    <form class="d-flex form-container" action="/shopping-list/move-to-pantry/<%=item.name%>" method="post">
                        <div class="col-sm-1 d-flex justify-content-begin align-items-center p-0 check-col">
                            <input type="image" class="btn btn-light list-check" value="">
                        </div>
                    </form>
                    <div class="col-sm-10 d-flex justify-content-begin align-items-center p-0">
                        <form class="d-flex form-container" action="/shopping-list/<%=item._id%>?_method=PATCH" method="post">
                            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
                            <div class="col-sm-11 p-0">
                                <input type="text" name="name" class="item-edit" value="<%= item.name %>" placeholder="<%= item.name %>">
                            </div>
                            <div class="col-sm-1 d-flex justify-content-start align-items-center p-0">
                                <input type="submit" id="pantry-enter-btn" class="btn btn-light enter-btn-list" value="">
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-1 d-flex justify-content-end align-items-center p-0">
                        <form class="form-container" action="/shopping-list/<%=item._id%>?_method=DELETE" method="post">
                            <div class="col-sm-1 d-flex justify-content-end align-items-center p-0">
                                <input type="submit" class="btn btn-light trash-btn" value="">
                            </div>
                        </form>
                    </div> 
                </div>
                <% } %>
            <% } %>
            </section>
        <% } %>
    </section>
</section>
<!--------------------------------------------------- CONTENT ENDS HERE -------------------------------------------------->
<%- include("./partials/scripts.ejs") %>
<script src="/js/list.js"></script>
<%- include("./partials/footer.ejs") %>