<%- include("../partials/header.ejs") %>
<title>Meal Creator - Results</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<%- include("../partials/navbar.ejs") %>
<!-------------------------------------------------- ENTER CONTENT HERE -------------------------------------------------->
<style>
body {
    font-family: 'Athiti', sans-serif;
}
.matched-meal-txt {
    font-family: 'Athiti', sans-serif;
    font-weight: 400;
}
</style>
<section class="container fourth-page-cont">
        <div class="row matched-meal-row d-flex justify-content-center mb-5">
        <% let res = []; for (meal of matchedMeals) { %> 
            <% 
            // Optimize Cloudinary image URL for faster loading
            let optimizedImgSrc = meal.imgSrc;
            if (meal.imgSrc && meal.imgSrc.includes('cloudinary.com')) {
                optimizedImgSrc = meal.imgSrc.replace('/upload/', '/upload/w_400,h_400,c_fill,q_auto,f_auto/');
            }
            %>
            <div class="col-sm-3 d-flex justify-content-center selection-col mb-4 mt-4 p-0 mx-1">
                <button class="btn btn-default selection-button-meal p-1" id = "matched-meal-btn">
                    <img src="<%=optimizedImgSrc%>" class="selection-images img-fluid" loading="lazy" id = "matched-meal-image"> 
                    <div class="matched-meal-txt"><%=meal.mealName%></div>
                </button>
            </div> 
        <% } %>
        </div>
</section>
<!--------------------------------------------------- CONTENT ENDS HERE -------------------------------------------------->
<%- include("../partials/scripts.ejs") %>
<script src="/js/filtered-page.js"></script>
<%- include("../partials/footer.ejs") %>