<%- include("../partials/header.ejs") %>
<title>Meal Creator</title>
<%- include("../partials/navbar.ejs") %>
<%- include('../partials/flash') %>
<!-------------------------------------------------- ENTER CONTENT HERE -------------------------------------------------->
<section class="container home-page-cont">
  <div class="card-group mt-5">
    <div class="card shadow pt-1 px-1 mx-3">
      <form class="two-choice-form" action="/app/Regular" method="post">
        <button type="submit" class="choice-btn">
          <img type="submit" style="min-width: 400px; min-height: 455px; object-fit: cover;" src="https://images.unsplash.com/photo-1547928578-bca3e9c5a0ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
              alt="" class="card-img-top" />
          <div class="card-body">Regular</div>
        </button>
      </form>
    </div>
    <div class="card shadow pt-1 px-1 mx-3">
      <form class="two-choice-form" action="/app/Healthy" method="post">
        <button type="submit" class="choice-btn">
          <img type="submit" style="min-width: 400px; min-height: 455px; object-fit: cover;" src="https://images.unsplash.com/photo-1505576399279-565b52d4ac71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              alt="" class="card-img-top" />
          <div class="card-body">Healthy</div>
        </button>
      </form>
    </div>
</section>
<!--------------------------------------------------- CONTENT ENDS HERE -------------------------------------------------->
<%- include("../partials/scripts.ejs") %>
<script src="/js/home-page.js"></script>
<%- include("../partials/footer.ejs") %>