<%- include("../partials/header.ejs") %>
<title>Meal Creator</title>
<%- include("../partials/navbar.ejs") %>
<%- include('../partials/flash') %>
<!-------------------------------------------------- ENTER CONTENT HERE -------------------------------------------------->
<section class="container home-page-cont">
  <div class="card-group mt-5">
    <% for (choice of choiceArr[0]) { %>
    <div class="card shadow pt-1 px-1 mx-3">
      <form class="two-choice-form" action="/app/<%=choice%>" method="post">
        <button type="submit" class="choice-btn">
          <img type="submit" style="min-width: 400px; min-height: 455px; object-fit: cover;" src="https://res.cloudinary.com/meal-creator/image/upload/v1662276033/page-images/<%=choice.toLowerCase()%>.jpg"
              alt="" class="card-img-top" />
          <div class="card-body"><%=choice%></div>
        </button>
      </form>
    </div>
    <% } %> 
</section>
<!--------------------------------------------------- CONTENT ENDS HERE -------------------------------------------------->
<%- include("../partials/scripts.ejs") %>
<script src="/js/home-page.js"></script>
<%- include("../partials/footer.ejs") %>