<%- include("../partials/header.ejs") %>
<title>Meal Creator</title>
<%- include("../partials/navbar.ejs") %>
<%- include('../partials/flash') %>
<!-------------------------------------------------- ENTER CONTENT HERE -------------------------------------------------->
<section">
  <div class="row justify-content-around card-group">
    <div class="col-11 col-md-4">
      <div class="suprise card shadow pt-1">
        <form action="/app/suprise" method="post">
          <button type="submit" class="choice-btn">
            <img type="submit" class="three-choice-card" src="https://res.cloudinary.com/meal-creator/image/upload/v1662550742/page-images/suprise.jpg">
            <div class="card-body">Suprise Me!</div>
          </button>
        </form>
      </div>
    </div>
    <% for (choice of choiceArr[0]) { %>
    <div class="col-11 col-md-4">
      <div class="<%=choice.toLowerCase()%> card shadow pt-1">
        <form action="/app/<%=choice%>" method="post">
          <button type="submit" class="choice-btn">
            <img type="submit" class="three-choice-card" src="https://res.cloudinary.com/meal-creator/image/upload/v1662276033/page-images/<%=choice.toLowerCase()%>.jpg">
            <div class="card-body"><%=choice%></div>
          </button>
        </form>
      </div>
    </div>
    <% } %> 
  </div>
</section>
<!--------------------------------------------------- CONTENT ENDS HERE -------------------------------------------------->
<%- include("../partials/scripts.ejs") %>
<script src="/js/home-page.js"></script>
<%- include("../partials/footer.ejs") %>